@using WebUi.Lib
<div class="inner_container">
    <div class="breadcums_block">
        <ol class="breadcrumb">
            <li><a href="/">Home</a></li>
            <li><a href="/blog.php">Blog</a></li>
            <li class="active">Backpage alternative</li>
        </ol>
    </div>
    <div class="page_title">
        <h1>Are you looking for best alternative to Backpage</h1>
    </div>
    <div class="escorts_display_block">
        <div class="custom_content_block clearfix">
            <p>
                Backpage and Craigslist used to be the best advertisement websites where escort girls used to
                post their ads. You might not know this, but Backpage got shut down by federals because they
                were getting suspicious of this website. Since the shutdown both clients and escorts are facing
                quite a tough time to get together. Not only escorts have suffered a huge loss, but they are
                also finding it difficult to get regular business because they can’t reach out to clients.
            </p>
            <br />
            <div class="video_block">
                <img src="/images/pages/bp.jpg" alt="" title="" class="img-responsive" />
            </div>
            <p>
                If you are also unable to find backpage escorts, then don’t worry because we are here to rescue
                you. All the escorts who used to work through backpage are working with us because we are the
                leading escort service providers. We ensure that our escorts are getting daily jobs at their
                preferred time slot. If you are worried because Backpage is no more, then stop worrying because
                we are here for you.
            </p><br />
            <h2>Come to us if you want to hire Backpage escort girls</h2>
            <p>
                Our website has grown immensely during past few years and we qualified to be on the first page of
                Google. Since then we are getting lots of clients and lots of escorts are registering with us to
                provide their services. Now, due to close down of Backpage site, we have lots of escorts from
                Backpage who are interested in working with us. You simply have to visit us and we assure you
                that all your favorite Backpage escort girls can be found at our website. We are indeed the best
                Backpage alternative and we guarantee that you are going to be super happy to see these escorts
                back to work.
            </p><br />
            <p>
                There was a time when Backpage used to be the primary source of traffic for these escorts, but
                Backpage was under the radar for various suspicious activities. Many reports suggest that
                Backpage was even under scrutiny for money laundering, but no one knows the exact reason for the
                take down of the website. But escort girls got really affected with this because they used to
                rely on Backpage to get more clients. Their advertisement used to be the only through which they
                can reach potential customers.
            </p><br />
            <div class="video_block">
                <img src="/images/pages/bp1.jpg" alt="" title="" class="img-responsive" />
            </div>
            <p>
                But now they don’t have a medium, and even independent escorts are now don’t have any other
                option rather than joining an agency. We at our agency always think about the protection and
                comfort of our girls, hence we allow independent escorts to work as they used to work with
                Backpage. This helps in building a strong bond between the escort girls and the agency. In this
                way we can help them and they can help us. As we already stated that we have a huge viewership
                and lots of regular clients who demand for new escorts every time they are in town.
            </p><br />
            <h2>We are the best Backpage alternative</h2>
            <p>
                Backpage escorts were amazing and they were open-minded and damn pretty too. Moreover, they used
                to charge less, since they didn’t had to pay anyone else. Well, now they are working with us and
                we guarantee you that nothing has changed. Even though, they are associated with us, the charges
                remains the same and the quality of services will also be the same.
            </p><br />
            <p>
                In fact on our website you can check out their pictures and profiles. This will allow you to get
                to know more about them. We have dedicated website so that clients can easily find what they
                want and now we have also lots of Backpage escorts who lost their clients because of the
                shutdown. But you don’t have to worry since all of them are working with us and that’s a great
                thing.
            </p><br />
            <p>
                We know that men loved Backpage since they used to get lots of advertisement and they used to get
                cheaper charges too, but don’t worry, nothing has changed a lot. Since all of these hot and sexy
                backpage escort girls are working with us, you get the same thing with us. Nothing will be
                compromised, you get same quality within the same prices, just the way of hiring is different.
                You can simply call and tell us which girl you liked the most and we will deliver within the
                given time. If you choose us then you will see how easy we have made things.
            </p><br />
            <h2>Choose the best girls we select for you</h2>
            <div class="row">
                <div class="col-xs-12 col-sm-4 col-md-4 col-lg-3">
                    <div class="escort_display">
                        <div class="escorts_pic_block">
                            <a class="fancybox" data-fancybox-group="escorts"
                               href="/images/escorts/02_copy1.jpg">
                                <img src="/images/escorts/res/13.jpg"
                                     alt="Aneta" title="Aneta" class="img-responsive" />
                            </a>
                            <div class="escort_description clearfix">
                                <div class="escorts_name">Escort Aneta, age: 21</div>
                                <a href="@ProfileLib.GetUrl(13)"
                                   class="btn vignate_color pull-right escorts_details_btn">Details</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-4 col-md-4 col-lg-3">
                    <div class="escort_display">
                        <div class="escorts_pic_block">
                            <a class="fancybox" data-fancybox-group="escorts"
                               href="/images/escorts/05_copy1.jpg">
                                <img src="/images/escorts/res/14.jpg"
                                     alt="Angela" title="Angela" class="img-responsive" />
                            </a>
                            <div class="escort_description clearfix">
                                <div class="escorts_name">Escort Angela, age: 22</div>
                                <a href="@ProfileLib.GetUrl(14)"
                                   class="btn vignate_color pull-right escorts_details_btn">Details</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-4 col-md-4 col-lg-3">
                    <div class="escort_display">
                        <div class="escorts_pic_block">
                            <a class="fancybox" data-fancybox-group="escorts"
                               href="/images/escorts/01_copy2.jpg">
                                <img src="/images/escorts/res/15.jpg"
                                     alt="Anna" title="Anna" class="img-responsive" />
                            </a>
                            <div class="escort_description clearfix">
                                <div class="escorts_name">Escort Anna, age: 22</div>
                                <a href="@ProfileLib.GetUrl(15)"
                                   class="btn vignate_color pull-right escorts_details_btn">Details</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-4 col-md-4 col-lg-3">
                    <div class="escort_display">
                        <div class="escorts_pic_block">
                            <a class="fancybox" data-fancybox-group="escorts"
                               href="/images/escorts/01_copy5.jpg">
                                <img src="/images/escorts/res/16.jpg"
                                     alt="Caprice" title="Caprice" class="img-responsive" />
                            </a>
                            <div class="escort_description clearfix">
                                <div class="escorts_name">Escort Caprice, age: 23</div>
                                <a href="@ProfileLib.GetUrl(16)"
                                   class="btn vignate_color pull-right escorts_details_btn">Details</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-4 col-md-4 col-lg-3">
                    <div class="escort_display">
                        <div class="escorts_pic_block">
                            <a class="fancybox" data-fancybox-group="escorts"
                               href="/images/escorts/01_copy8.jpg">
                                <img src="/images/escorts/res/17.jpg"
                                     alt="Cookie" title="Cookie" class="img-responsive" />
                            </a>
                            <div class="escort_description clearfix">
                                <div class="escorts_name">Escort Cookie, age: 22</div>
                                <a href="@ProfileLib.GetUrl(17)"
                                   class="btn vignate_color pull-right escorts_details_btn">Details</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-4 col-md-4 col-lg-3">
                    <div class="escort_display">
                        <div class="escorts_pic_block">
                            <a class="fancybox" data-fancybox-group="escorts"
                               href="/images/escorts/01_copy11.jpg">
                                <img src="/images/escorts/res/18.jpg"
                                     alt="Elle" title="Elle" class="img-responsive" />
                            </a>
                            <div class="escort_description clearfix">
                                <div class="escorts_name">Escort Elle, age: 22</div>
                                <a href="@ProfileLib.GetUrl(18)"
                                   class="btn vignate_color pull-right escorts_details_btn">Details</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-4 col-md-4 col-lg-3">
                    <div class="escort_display">
                        <div class="escorts_pic_block">
                            <a class="fancybox" data-fancybox-group="escorts"
                               href="/images/escorts/01_copy14.jpg">
                                <img src="/images/escorts/res/19.jpg"
                                     alt="Elvira" title="Elvira" class="img-responsive" />
                            </a>
                            <div class="escort_description clearfix">
                                <div class="escorts_name">Escort Elvira, age: 22</div>
                                <a href="@ProfileLib.GetUrl(19)"
                                   class="btn vignate_color pull-right escorts_details_btn">Details</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-4 col-md-4 col-lg-3">
                    <div class="escort_display">
                        <div class="escorts_pic_block">
                            <a class="fancybox" data-fancybox-group="escorts"
                               href="/images/escorts/6_copy1.jpg">
                                <img src="/images/escorts/res/20.jpg"
                                     alt="Agnessa" title="Agnessa" class="img-responsive" />
                            </a>
                            <div class="escort_description clearfix">
                                <div class="escorts_name">Escort Agnessa, age: 21</div>
                                <a href="@ProfileLib.GetUrl(20)"
                                   class="btn vignate_color pull-right escorts_details_btn">Details</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-4 col-md-4 col-lg-3">
                    <div class="escort_display">
                        <div class="escorts_pic_block">
                            <a class="fancybox" data-fancybox-group="escorts"
                               href="/images/escorts/2_copy14.jpg">
                                <img src="/images/escorts/res/21.jpg"
                                     alt="Alisa" title="Alisa" class="img-responsive" />
                            </a>
                            <div class="escort_description clearfix">
                                <div class="escorts_name">Escort Alisa, age: 21</div>
                                <a href="@ProfileLib.GetUrl(21)"
                                   class="btn vignate_color pull-right escorts_details_btn">Details</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-4 col-md-4 col-lg-3">
                    <div class="escort_display">
                        <div class="escorts_pic_block">
                            <a class="fancybox" data-fancybox-group="escorts"
                               href="/images/escorts/4_copy8.jpg">
                                <img src="/images/escorts/res/22.jpg"
                                     alt="Katya" title="Katya" class="img-responsive" />
                            </a>
                            <div class="escort_description clearfix">
                                <div class="escorts_name">Escort Katya, age: 22</div>
                                <a href="@ProfileLib.GetUrl(22)"
                                   class="btn vignate_color pull-right escorts_details_btn">Details</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>