@using WebUi.Lib
<div class="main_container">
    <div class="row">

        <div class="col-sm-9 col-md-9 col-lg-9">
            <div class="left_col_container">
                <div class="breadcums_block">
                    <ol class="breadcrumb">
                        <li>
                            <a itemprop="url" title="Las Vegas Independent Escorts"
                               href="/">Independent Escorts</a>
                        </li>
                        <li class="active"> <span>Female Escorts</span> </li>
                    </ol>
                </div>
                <h1>Las Vegas Independent Female Escorts</h1>
                <div class="row">
                    <p>
                        You have landed in Vegas, or maybe you are planning to go there for a week or
                        so. Maybe it is on business, maybe it is for relaxation or maybe it is for
                        both. It doesn’t matter why you are there. What matters is that there are
                        gorgeous, pretty and great independent female escorts for you. Life is too
                        short to spend it alone feeling lost and miserable. Don’t let that happen to
                        you, no, not when you can get a stunning woman to help you tour the hot
                        spots of Vegas and have the time of your life. With such a wide range of <a title="Las Vegas independent escorts" href="/">
                            Vegas independent
                            escorts
                        </a> as you will find here, you will get one to suit your needs.
                    </p><br />
                    <ul id="portfolio-list">
                        <li style="display: block;" class="20-23 2 171-175 101-120 Brunette">
                            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                                <div class="escort_display">
                                    <div class="escorts_pic_block">
                                        <a href="@ProfileLib.GetUrl(72)">
                                            <img class="img-responsive"
                                           src="/images/escorts/5_copy14.jpg"
                                           alt="Brianna - independent female escort"
                                           title="Brianna - independent female escort" />
                                        </a>
                                    </div>
                                </div>
                                <div class="escort_description">
                                    <h3>Brianna</h3>
                                    <p>Call Me: <a href="tel:+1702-389-7927">702-389-7927</a></p>
                                </div>
                            </div>
                        </li>
                        <li style="display: block;" class="20-23 2 171-175 101-120 Black">
                            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                                <div class="escort_display">
                                    <div class="escorts_pic_block">
                                        <a href="@ProfileLib.GetUrl(112)">
                                            <img class="img-responsive"
                                           src="/images/escorts/3_copy15.jpg"
                                           alt="Kumi - independent female escort"
                                           title="Kumi - independent female escort" />
                                        </a>
                                    </div>
                                </div>
                                <div class="escort_description">
                                    <h3>Kumi</h3>
                                    <p>Call Me: <a href="tel:+1775-227-6449">775-227-6449</a></p>
                                </div>
                            </div>
                        </li>
                        <li style="display: block;" class="20-23 2 171-175 101-120 Brunette">
                            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                                <div class="escort_display">
                                    <div class="escorts_pic_block">
                                        <a href="@ProfileLib.GetUrl(99)">
                                            <img class="img-responsive"
                                           src="/images/escorts/1_copy39.jpg"
                                           alt="Capri - independent female escort"
                                           title="Capri - independent female escort" />
                                        </a>
                                    </div>
                                </div>
                                <div class="escort_description">
                                    <h3>Capri</h3>
                                    <p>Call Me: <a href="tel:+1702-389-6923">702-389-6923</a></p>
                                </div>
                            </div>
                        </li>
                        <li style="display: block;" class="20-23 3 171-175 101-120 Black">
                            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                                <div class="escort_display">
                                    <div class="escorts_pic_block">
                                        <a href="@ProfileLib.GetUrl(102)">
                                            <img class="img-responsive"
                                           src="/images/escorts/1_copy3.jpg"
                                           alt="Chloe - independent female escort"
                                           title="Chloe - independent female escort" />
                                        </a>
                                    </div>
                                </div>
                                <div class="escort_description">
                                    <h3>Chloe</h3>
                                    <p>Call Me: <a href="tel:+1702-291-7374">702-291-7374</a></p>
                                </div>
                            </div>
                        </li>
                        <li style="display: block;" class="20-23 2 165-170 101-120 Blonde">
                            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                                <div class="escort_display">
                                    <div class="escorts_pic_block">
                                        <a href="@ProfileLib.GetUrl(82)">
                                            <img class="img-responsive"
                                           src="/images/escorts/3_copy23.jpg"
                                           alt="Paula - independent female escort"
                                           title="Paula - independent female escort" />
                                        </a>
                                    </div>
                                </div>
                                <div class="escort_description">
                                    <h3>Paula</h3>
                                    <p>Call Me: <a href="tel:+1702-358-0061">702-358-0061</a></p>
                                </div>
                            </div>
                        </li>
                        <li style="display: block;" class="20-23 2 171-175 101-120">
                            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                                <div class="escort_display">
                                    <div class="escorts_pic_block">
                                        <a href="@ProfileLib.GetUrl(108)">
                                            <img class="img-responsive"
                                           src="/images/escorts/4_copy7.jpg"
                                           alt="Cici - independent female escort"
                                           title="Cici - independent female escort" />
                                        </a>
                                    </div>
                                </div>
                                <div class="escort_description">
                                    <h3>Cici</h3>
                                    <p>Call Me: <a href="tel:+1407-863-3345">407-863-3345</a></p>
                                </div>
                            </div>
                        </li>
                    </ul>
                    <div class="clearfix"></div>
                    <p>&nbsp;</p>
                    <div class="article_banner_block">
                        <a href="#" rel="nofollow">
                            <img src="/images/discount.jpg"
                                 alt="Discounts available" title="Discounts available"
                                 class="img-responsive" />
                        </a>
                    </div>
                    <h2>The Las Vegas girlfriend experience </h2>
                    <img src="/images/pages/6.jpg" style="float:left;margin: 7px 7px 7px 0;"
                         alt="independent female escorts" title="independent female escorts"
                         class="img-responsive">
                    <p>
                        This is not complicated. It is just a situation where you hire one of the
                        independent female escorts Las Vegas to give you a girlfriend experience
                        when you are staying in Las Vegas. How are girlfriends supposed to behave?
                        That is exactly how your escort will conduct herself. She will be there for
                        you, she will walk and stand by you when you go out, she will tour Vegas
                        with you showing you the best sights.
                    </p><br />
                    <p>
                        It would be better to state beforehand what you would like so that the
                        independent female escorts can get ready for that. For example, a girlfriend
                        experience might require her to move in with you in your hotel room for the
                        entire time that you will be in Vegas or for a few days at least. Both of
                        you have to be ready for that.
                    </p><br />
                    <p>
                        When choosing from the independent female escorts, you can be assured that
                        what you see is what you will get. Do you love the girls that you see in the
                        images? Or do you prefer <a title="Russian Independent Escorts"
                                                    href="/russian-escorts.php">russian escorts</a> or <a title="Asian Independent Escorts" href="/asian-escorts.php">asian</a>?
                        Anyway, that is exactly how they look in real life. Their age number is real
                        and they are educated. You can hold fun conversations with the escorts and
                        when the need arises, you can hold some serious discussions with them. If
                        you would like our <a title="Blonde Independent Escorts"
                                              href="/blonde-escorts.php">blonde girl</a> to accompany you to a formal
                        dinner, you will not be disappointed as she will dress the part and behave
                        the part perfectly.
                    </p><br />
                    <p>
                        <div class="article_banner_block">
                            <a href="http://www.vegaseroticmassage.com/" target="_blank"
                               rel="nofollow">
                                <img src="/images/vegas_photo.jpg" alt="" title=""
                                     class="img-responsive" />
                            </a>
                        </div>
                    </p>
                    <p>
                        Our independent female escorts give value for money. Will you hire one today?
                        Just take a look at <a title="Young Independent Escorts"
                                               href="/young-escorts.php">this</a> young beauties! You will get the full
                        value for your money. No matter what you need, could be blonde, brunette,
                        big, petite, mixed race, Asian and so on, they are all there for you.
                    </p>
                    <br />


                </div>
            </div>
            <h2>Check other types of escorts</h2><br />
            <div class="promotional_part">
                <div class="row">
                    <div class="col-sm-4 col-md-4 col-lg-4">
                        <div class="promotional_block">
                            <p>
                                <a title="Blonde Independent Escorts"
                                   href="/blonde-escorts.php">Blonde Escorts</a>
                            </p><br />
                            <p>
                                <a title="Asian Independent Escorts" href="/asian-escorts.php">
                                    Asian
                                    Escorts
                                </a>
                            </p><br />
                        </div>
                    </div>
                    <div class="col-sm-4 col-md-4 col-lg-4">
                        <div class="promotional_block">
                            <p>
                                <a title="Black Independent Escorts" href="/black-escorts.php">
                                    Black
                                    Escorts
                                </a>
                            </p><br />
                            <p>
                                <a title="Russian Independent Escorts"
                                   href="/russian-escorts.php">Russian Escorts</a>
                            </p><br />
                        </div>
                    </div>
                    <div class="col-sm-4 col-md-4 col-lg-4">
                        <div class="promotional_block">
                            <p>
                                <a title="VIP Independent Escorts" href="/vip-escorts.php">
                                    VIP
                                    Escorts
                                </a>
                            </p><br />
                            <p>
                                <a title="Young Independent Escorts" href="/young-escorts.php">
                                    Young
                                    Escorts
                                </a>
                            </p><br />
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-6 col-md-6 col-lg-6">
                    <div class="left_col_container">
                        <p>Girls available for you Mo - Su: 0:00 - 0:00</p>
                    </div>
                </div>
                <div class="col-sm-6 col-md-6 col-lg-6">
                    <div class="right_col_container">
                        <iframe src="https://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=Las+Vegas+Blvd&amp;aq=&amp;sll=36.114667,-115.109575&amp;sspn=0.003129,0.005681&amp;ie=UTF8&amp;hq=&amp;hnear=S+Las+Vegas+Blvd&amp;t=m&amp;ll=36.111807,-115.169764&amp;spn=0.040217,0.051842&amp;z=14&amp;output=embed"
                                width="100%" frameborder="0" style="border:0"></iframe>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-3 col-md-3 col-lg-3">
            <div class="right_col_container">
                <h2>Advance Filter</h2>
                <div class="advance_filter_container">
                    <div class="advance_filter_block">
                        <h5>Age</h5>
                        <div class="filter_option">
                            <ul id="portfolio-filter" style="margin-top:5px !important;">
                                <li><a href="#20-23" title="" rel="20-23">20-23</a></li>
                                <li><a href="#24-27" title="" rel="24-27">24-27</a></li>
                                <li><a href="#28-30" title="" rel="28-30">28-30</a></li>
                                <li><a href="#all" title="">All</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="advance_filter_block">
                        <h5>Bust</h5>
                        <div class="filter_option">
                            <ul id="portfolio-filter" style="margin-top:5px !important;">
                                <li><a href="#1" title="" rel="1">A</a></li>
                                <li><a href="#2" title="" rel="2">B</a></li>
                                <li><a href="#3" title="" rel="3">C</a></li>
                                <li><a href="#4" title="" rel="4">D</a></li>
                                <li><a href="#all" title="">All</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="advance_filter_block">
                        <h5>Height</h5>
                        <div class="filter_option">
                            <ul id="portfolio-filter" style="margin-top:5px !important;">
                                <li><a href="#165-170" title="" rel="165-170">165-170</a></li>
                                <li><a href="#171-175" title="" rel="171-175">171-175</a></li>
                                <li><a href="#176-180" title="" rel="176-180">176-180</a></li>
                                <li><a href="#all" title="">All</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="advance_filter_block">
                        <h5>Weight</h5>
                        <div class="filter_option">
                            <ul id="portfolio-filter" style="margin-top:5px !important;">
                                <li><a href="#80-100" title="" rel="80-100">80-100</a></li>
                                <li><a href="#101-120" title="" rel="101-120">101-120</a></li>
                                <li><a href="#121-140" title="" rel="121-140">121-140</a></li>
                                <li><a href="#141-160" title="" rel="141-160">141-160</a></li>
                                <li><a href="#all" title="">All</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="advance_filter_block">
                        <h5>Hair Color</h5>
                        <div class="filter_option">
                            <ul id="portfolio-filter" style="margin-top:5px !important;">
                                <li><a href="#Black" title="" rel="Black">Black</a></li>
                                <li><a href="#Brunette" title="" rel="Brunette">Brunette</a></li>
                                <li><a href="#Blonde" title="" rel="Blonde">Blonde</a></li>
                                <li><a href="#all" title="">All</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>