@using WebUi.Lib
<div class="inner_container">
    <div class="breadcums_block">
        <ol class="breadcrumb">
            <li><a href="/">Home</a></li>
            <li class="active">Black Escorts</li>
        </ol>
    </div>
    <div class="page_title">
        <h1>Book Ebony Escorts in Las Vegas</h1>
    </div>
    <div class="escorts_display_block">
        <div class="custom_content_block clearfix">
            <div class="video_block">
                <img src="/images/offer.jpg" alt="Services offer" title="Services offer"
                     class="img-responsive" />
            </div>
            <p>
                Meet the best Las Vegas ebony escorts available and enjoy our city in the way you have always
                dreamed. Our girls are waiting to keep you company and each of these divinely mocha bombshell
                beauties will make your dreams come true. What trip to Las Vegas would be complete without good
                evening entertainment? When your tastes include a richer and more sensual experience our Las
                Vegas ebony escorts will fulfill every desire you hold. Warm, soft, rich skin tones with tiny
                waists and full lips can make the most of your trip to Las Vegas, inspiring lasting memories
                that you will never want to let go.
            </p><br />
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-3">
                <div class="escort_display">
                    <div class="escorts_pic_block">
                        <a class="fancybox" data-fancybox-group="escorts" href="/images/escorts/4_copy3.jpg">
                            <img src="/images/escorts/res/49.jpg" alt="Camille" title="Camille"
                                 class="img-responsive" />
                        </a>
                        <div class="escort_description clearfix">
                            <div class="escorts_name">Camille</div>
                            <a href="@ProfileLib.GetUrl(49)"
                               class="btn vignate_color pull-right escorts_details_btn">Details</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-3">
                <div class="escort_display">
                    <div class="escorts_pic_block">
                        <a class="fancybox" data-fancybox-group="escorts"
                           href="/images/escorts/1_copy17.jpg">
                            <img src="/images/escorts/res/50.jpg" alt="Chloe"
                                 title="Chloe" class="img-responsive" />
                        </a>
                        <div class="escort_description clearfix">
                            <div class="escorts_name">Chloe</div>
                            <a href="@ProfileLib.GetUrl(50)"
                               class="btn vignate_color pull-right escorts_details_btn">Details</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-3">
                <div class="escort_display">
                    <div class="escorts_pic_block">
                        <a class="fancybox" data-fancybox-group="escorts" href="/images/escorts/2_copy8.jpg">
                            <img src="/images/escorts/res/51.jpg" alt="Millisa" title="Millisa"
                                 class="img-responsive" />
                        </a>
                        <div class="escort_description clearfix">
                            <div class="escorts_name">Millisa</div>
                            <a href="@ProfileLib.GetUrl(51)"
                               class="btn vignate_color pull-right escorts_details_btn">Details</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-3">
                <div class="escort_display">
                    <div class="escorts_pic_block">
                        <a class="fancybox" data-fancybox-group="escorts" href="/images/escorts/3_copy8.jpg">
                            <img src="/images/escorts/res/52.jpg" alt="Natasa" title="Natasa"
                                 class="img-responsive" />
                        </a>
                        <div class="escort_description clearfix">
                            <div class="escorts_name">Natasa</div>
                            <a href="@ProfileLib.GetUrl(52)"
                               class="btn vignate_color pull-right escorts_details_btn">Details</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-3">
                <div class="escort_display">
                    <div class="escorts_pic_block">
                        <a class="fancybox" data-fancybox-group="escorts"
                           href="/images/escorts/3_copy10.jpg">
                            <img src="/images/escorts/res/53.jpg" alt="Sich"
                                 title="Sich" class="img-responsive" />
                        </a>
                        <div class="escort_description clearfix">
                            <div class="escorts_name">Sich</div>
                            <a href="@ProfileLib.GetUrl(53)"
                               class="btn vignate_color pull-right escorts_details_btn">Details</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-3">
                <div class="escort_display">
                    <div class="escorts_pic_block">
                        <a class="fancybox" data-fancybox-group="escorts"
                           href="/images/escorts/02_copy35.jpg">
                            <img src="/images/escorts/res/54.jpg" alt="Tasia"
                                 title="Tasia" class="img-responsive" />
                        </a>
                        <div class="escort_description clearfix">
                            <div class="escorts_name">Tasia</div>
                            <a href="@ProfileLib.GetUrl(54)"
                               class="btn vignate_color pull-right escorts_details_btn">Details</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="custom_content_block clearfix">
            <h2>What can you expect from our Las Vegas ebony escorts?</h2>
            <p>
                We offer the best and most multi faceted talents offered by any Las Vegas ebony escorts. Our
                girls can meet your needs and exceed your expectations and we can match you up with the perfect
                girl for the evening you want. Not only do our girls offer you a variety of talent and
                incredible looks to choose from, they are inventive and happy to be of service on the spot. Book
                an evening and be ready to thoroughly enjoy your time in the City of Sin. Las Vegas black
                escorts have every physique you could ask for from slim and trim to curvy and voluptuous and in
                some cases a perfect mix between the two. Tiny waists and thick thighs are the physique most
                often requested of our Las Vegas ebony escorts and we can certainly meet that need. The softness
                of their skin will tantalize yours, their full lips and succulently apple bottoms will haunt
                your desires and their hourglass figures will make your hands desperately want to hold them.
            </p>
            <br />
            <h2>Skilled Services</h2>
            <p>
                The Services offered by Las Vegas black escorts range the full spectrum of your imagination, just
                make the request! Everything from an evening on the town to a deep <a href="/">
                    sensual massage
                    with happy ending
                </a> and more can be provided by our talented and kind hometown and our
                exotic Las Vegas ebony escorts. Use our site or contact us in order to set up the perfect
                appointment with one of our gorgeous, delicious chocolate toned divine Las Vegas ebony escorts.
            </p><br />
            <h2>Discretion</h2>
            <p>
                Our Las Vegas black escorts know the meaning of discretion and work by the well known Las Vegas
                Slogan- What happens here stays here, but you will forever remember your experience. We also
                offer repetitive appointments if you have a favorite and would like to meet up again. Our
                talented and beautiful Las Vegas ebony escorts will satisfy your wants and needs and star in
                your dreams for a long while to come. Our Las Vegas ebony escorts represent everything you could
                ever want or expect for your date.
            </p><br />
            <p>
                Check out the options we offer and choose an ebony skinned beauty to enjoy your time in Vegas
                with you. If you are a local, don’t be shy, be one of our best customers and get to know our
                charming Las Vegas Ebony escorts, we’ll make certain you always have a good time.
            </p><br />
        </div>
    </div>
</div>